﻿@model EP.Nikolina_Marina.Models.Address.AddresFields

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CHRISTIANNAME" class="control-label"></label>
                <input asp-for="CHRISTIANNAME" class="form-control" />
                <span asp-validation-for="CHRISTIANNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GWSTATE1" class="control-label"></label>
                <input asp-for="GWSTATE1" class="form-control" />
                <span asp-validation-for="GWSTATE1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GWSTATE2" class="control-label"></label>
                <input asp-for="GWSTATE2" class="form-control" />
                <span asp-validation-for="GWSTATE2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GWSTATE2" class="control-label"></label>
                <input asp-for="GWSTATE2" class="form-control" />
                <span asp-validation-for="GWSTATE2" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
