﻿@model EP.Nikolina_Marina.Models.Address.AddresFields

@{
    ViewData["Title"] = "Brisanje";
}

<h1>Brisanje</h1>

<h3>Da li ste sigurni?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CHRISTIANNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CHRISTIANNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GWSTATE1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GWSTATE1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GWSTATE2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GWSTATE2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GWSTATE3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GWSTATE3)
        </dd>
    
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GGUID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
