﻿@model IEnumerable<EP.Nikolina_Marina.Models.Address.AddresFields>

@{
    ViewData["Title"] = "Adrese";
}

<h1>Lista adresa</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CHRISTIANNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.GWSTATE1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GWSTATE2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GWSTATE3)
            </th>
         
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CHRISTIANNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GWSTATE1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GWSTATE2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GWSTATE3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GGUID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.GGUID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.GGUID">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
